<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LTRData.DiscUtils" version="1.0.64" targetFramework="net472" requireReinstallation="true" />
  <package id="LTRData.DiscUtils.BootConfig" version="1.0.64" targetFramework="net472" requireReinstallation="true" />
  <package id="LTRData.DiscUtils.Btrfs" version="1.0.64" targetFramework="net472" requireReinstallation="true" />
  <package id="LTRData.DiscUtils.Core" version="1.0.64" targetFramework="net472" requireReinstallation="true" />
  <package id="LTRData.DiscUtils.Dmg" version="1.0.64" targetFramework="net472" requireReinstallation="true" />
  <package id="LTRData.DiscUtils.Ext" version="1.0.64" targetFramework="net472" requireReinstallation="true" />
  <package id="LTRData.DiscUtils.Fat" version="1.0.64" targetFramework="net472" requireReinstallation="true" />
  <package id="LTRData.DiscUtils.HfsPlus" version="1.0.64" targetFramework="net472" requireReinstallation="true" />
  <package id="LTRData.DiscUtils.Iscsi" version="1.0.64" targetFramework="net472" requireReinstallation="true" />
  <package id="LTRData.DiscUtils.Iso9660" version="1.0.64" targetFramework="net472" requireReinstallation="true" />
  <package id="LTRData.DiscUtils.Lvm" version="1.0.64" targetFramework="net472" requireReinstallation="true" />
  <package id="LTRData.DiscUtils.Net" version="1.0.64" targetFramework="net472" requireReinstallation="true" />
  <package id="LTRData.DiscUtils.Nfs" version="1.0.64" targetFramework="net472" requireReinstallation="true" />
  <package id="LTRData.DiscUtils.Ntfs" version="1.0.64" targetFramework="net472" requireReinstallation="true" />
  <package id="LTRData.DiscUtils.OpticalDiscSharing" version="1.0.64" targetFramework="net472" requireReinstallation="true" />
  <package id="LTRData.DiscUtils.OpticalDisk" version="1.0.64" targetFramework="net472" requireReinstallation="true" />
  <package id="LTRData.DiscUtils.Registry" version="1.0.64" targetFramework="net472" requireReinstallation="true" />
  <package id="LTRData.DiscUtils.Sdi" version="1.0.64" targetFramework="net472" requireReinstallation="true" />
  <package id="LTRData.DiscUtils.SquashFs" version="1.0.64" targetFramework="net472" requireReinstallation="true" />
  <package id="LTRData.DiscUtils.Streams" version="1.0.64" targetFramework="net472" requireReinstallation="true" />
  <package id="LTRData.DiscUtils.Swap" version="1.0.64" targetFramework="net472" requireReinstallation="true" />
  <package id="LTRData.DiscUtils.Udf" version="1.0.64" targetFramework="net472" requireReinstallation="true" />
  <package id="LTRData.DiscUtils.Vdi" version="1.0.64" targetFramework="net472" requireReinstallation="true" />
  <package id="LTRData.DiscUtils.Vhd" version="1.0.64" targetFramework="net472" requireReinstallation="true" />
  <package id="LTRData.DiscUtils.Vhdx" version="1.0.64" targetFramework="net472" requireReinstallation="true" />
  <package id="LTRData.DiscUtils.VirtualFileSystem" version="1.0.64" targetFramework="net472" requireReinstallation="true" />
  <package id="LTRData.DiscUtils.Vmdk" version="1.0.64" targetFramework="net472" requireReinstallation="true" />
  <package id="LTRData.DiscUtils.Wim" version="1.0.64" targetFramework="net472" requireReinstallation="true" />
  <package id="LTRData.DiscUtils.Xfs" version="1.0.64" targetFramework="net472" requireReinstallation="true" />
  <package id="LTRData.DiscUtils.Xva" version="1.0.64" targetFramework="net472" requireReinstallation="true" />
  <package id="LTRData.Extensions" version="1.0.19" targetFramework="net472" requireReinstallation="true" />
  <package id="lzfse-net" version="1.0.15" targetFramework="net472" />
  <package id="lzo.net" version="0.0.6" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net472" />
  <package id="SharpZipLib" version="1.4.2" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>